.DS_Store
reid_model/**/*.png
reid_model/**/*.jpg
reid_model/**/*.pth
reid_model/**/*.mat
reid_model/**/*.txt
reid_model/pretrain_models/*
*.pyc
/**/__pycache/*
/**/*.so
/**/*.o
/.github/*
/.idea/*
/**/*.csv
/label_statistics/**/*.jpg
/label_statistics/**/*.png
/label_statistics/dataset/**/*.mat
/label_manager/**/*.jpg
/label_manager/**/*.png
/label_manager/dataset/**/*.mat