.DS_Store
reid_model/**/*.png
reid_model/**/*.jpg
reid_model/**/*.pth
reid_model/**/*.mat
reid_model/**/*.txt
label_statistics/**/*.jpg
label_statistics/**/*.png
reid_model/pretrain_models/*
*.pyc
/**/__pycache/*
/**/*.so
/**/*.o
/.github/*
/.idea/*
/**/*.csv
/label_statistics/dataset/**/*.mat